<p style="color: green"><%= notice %></p>

<h1>Kindergartens</h1>

<div id="kindergartens">
  <% @kindergartens.each do |kindergarten| %>
    <%= link_to kindergarten_path(kindergarten), class: "text-decoration-none text-black" do %>
      <%= render kindergarten %>
    <% end %>
  <% end %>
  <%= paginate @kindergartens %>

</div>
