<%= render @kindergarten %>

<% if @kindergarten.user == current_user%>
  <div>
    <%= link_to "Edit this kindergarten", edit_kindergarten_path(@kindergarten) %>
    <%= button_to "Destroy this kindergarten", @kindergarten, method: :delete %>
  </div>
<% end %>