<%= render @kindergarten %>

<% if @kindergarten.user == current_user%>
  <div class="interactive-btns">
    <%= link_to "Editar", edit_kindergarten_path(@kindergarten), class: 'btn btn-warning' %>
    <%= button_to "Eliminar", @kindergarten, method: :delete, class: 'btn btn-danger' %>
  </div>
<% end %>